---
import { getCollection } from "astro:content";

// Component Imports
import Layout from "../layouts/layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Modules from "../components/Modules/Modules";
import Separator from "../components/Separator/Separator.astro";
import Lessons from "../components/Lessons/Lessons.astro";
import ArticleCard from "../components/ArticleCard/ArticleCard.astro";

const moduleContent = await getCollection("modules");

const articleText = {
  module: "6",
  type: "main",
  title: "Texto de prueba",
  url: "/modulos/modulo-1",
  topics: [
    "Prueba 1 con texto algo más largo",
    "Prueba 2 aun más largo solo para probar si escala bien",
    "Prueba 3 no tan largo",
    "Prueba 4 un tris largo",
  ],
  description: "Texto descriptivo de la lección que va a usarse como title",
  update: "Actualización de prueba",
  date: "2023-06-30",
};
---

<Layout>
  <Hero />
  <section aria-labelledby="modules-title">
    <div class="wrapper | flow">
      <h2 class="fs-500 mb-5" id="modules-title">
        En esta guía podrás aprender sobre:
      </h2>
      <Modules moduleContent={moduleContent} client:load />
    </div>
  </section>
  <Separator />
  <Lessons><p class="fs-500">¡Próximamente!</p></Lessons>
  <!-- <section aria-labelledby="update-title">
    <div class="wrapper flow">
      <h2 id="update-title">Actualizaciones</h2>
      <ul role="list" class="update-layout | switcher">
        <li>
          <ArticleCard
            module={articleText4.module}
            type={articleText4.type}
            title={articleText4.title}
            url={articleText4.url}
            topics={articleText4.topics}
            description={articleText4.description}
            update={articleText4.update}
            date={articleText4.date}
          />
        </li>
        <li>
          <ArticleCard
            module={articleText4.module}
            type={articleText4.type}
            title={articleText4.title}
            url={articleText4.url}
            topics={articleText4.topics}
            description={articleText4.description}
            update={articleText4.update}
            date={articleText4.date}
          />
        </li>
        <li>
          <ArticleCard
            module={articleText4.module}
            type={articleText4.type}
            title={articleText4.title}
            url={articleText4.url}
            topics={articleText4.topics}
            description={articleText4.description}
            update={articleText4.update}
            date={articleText4.date}
          />
        </li>
      </ul>
    </div>
  </section> -->
</Layout>
