---
import { SEO } from "astro-seo";

import Header from "../components/Header/Header.astro";
import Follow from "../components/Follow/Follow.astro";
import Footer from "../components/Footer/Footer.astro";

import favicon__lm from "/assets/icons/favicon-lm.svg";
import favicon__dm from "/assets/icons/favicon-dm.svg";

const {
  title = "Accesibilidadweb.today",
  theme = "default",
  description = "Guía en español para aprender sobre accesibilidad web enfocada en desarrollo y diseño de interfaces",
  seoImage = {
    url: `/assets/images/card-${theme}.png`,
    width: "1200",
    height: "630",
  },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme={theme} data-no-js>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style lang="scss" is:global>
      @import "../sass/index.scss";
    </style>
    <link
      rel="preload"
      href="/assets/fonts/Atkinson-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/Atkinson-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/Lexend.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <script defer>
      const HTML = document.querySelector("html");
      HTML.removeAttribute("data-no-js");

      if (localStorage.getItem("mode")) {
      } else {
        const isDarkMode = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        if (isDarkMode) {
          localStorage.setItem("mode", "dark");
        } else {
          localStorage.setItem("mode", "light");
        }
      }

      HTML.setAttribute("data-mode", localStorage.getItem("mode"));
    </script>
    <SEO
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: `https://www.accesibilidadweb.today${seoImage.url}`,
        },
      }}
      twitter={{
        creator: "@ItsCrisDiaz",
      }}
      extend={{
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: seoImage.url,
          },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { property: "og:image:width", content: seoImage.width },
          { property: "og:image:height", content: seoImage.height },
          { property: "og:description", content: description },
        ],
      }}
    />
    <link rel="icon" type="image/svg" href={favicon__lm} />
    <link
      rel="icon"
      type="image/svg"
      href={favicon__dm}
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <main id="main-content">
      <slot />
      <Follow />
    </main>
    <Footer />
  </body>
</html>
